<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="utf-8">
  <title>Spotify Search App</title>
</head>
<body>
  <% if (message) { %>
    <h3><%= message %></h3>
  <% } %>
  <h1>Oops, something broke.....</h1>
  <h2><%= error %></h2>
  <h3><%= message %></h3>
</body>
</html>