<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="utf-8">
  <title>Spotify Search App</title>
</head>
<body>
  <% if (message) { %>
    <h3><%= message %></h3>
  <% } %>
  <h1>Log in</h1>
  <form action="/users/login" method="POST">
    <label>Username:</label>
    <input type="text" name="username">
    <label>Password:</label>
    <input type="password" name="password">
    <input type="submit" value="Log In">
  </form>
  <form action="/users/signup">
    <input type="submit" value="Sign up as a different user">
  </form>
  <form action="/users/login">
    <input type="submit" value="Log in as a different user">
  </form>
  <button></button>
</body>
</html>

