extends base

block content
  h1 Welcome to Pets Tracking App
  h4 Current Owners:
  each owner in owners
    p #{owner.name} 
      form(action=`/owners/${owner.id}`)
       input(type="submit" value=`See ${owner.name}'s Page`)

  form(action="/owners/new")
    input(type="submit" value="Add a new owner")