extends base

block content
  p #{owner.name}
  form(action=`/owners/${owner.id}/edit`)
      input(type="submit" value="Edit")
  form(action=`/owners/${owner.id}/pets`)
      input(type="submit" value="See Pets")
